<h2>Welcome</h2>

<h4>Shelves</h4>
<% @shelves.each do |shelf| %> 
	<i class="fa fa-book"></i>
	<%= link_to shelf.shelf_name, shelf_path(shelf) %><br>
<% end %><br>

<i class="fa fa-skyatlas"></i>
<%= link_to "All Books", books_path %><br><br>

<button>
<%= link_to "Add Shelf", new_shelf_path %>
</button>

<button>
<%= link_to "Add Book", new_book_path %>
</button>

<button>
<%= link_to("Log Out", destroy_user_session_path, :method => :delete) %>
</button>