<h2>Edit Book</h2>

<%= form_for @book do |form| %>
	<%= form.text_field :book_name, placeholder: 'Name' %><br>
	<%= form.text_field :book_author, placeholder: 'Author' %><br>
	<%= form.text_field :notes, placeholder: 'Notes' %><br>
	<%= collection_select(:book, :shelves, current_user.shelves, :id, :shelf_name, {}, { name: 'shelf_id'}) %>
	<%= form.submit "Save" %> 
<% end %>

<button><%= link_to "Go Back", book_path %></button>
