<h2>New Book</h2>

<%= simple_form_for @book do |form| %>
	<%= form.input :book_name, placeholder: 'Name' %>
	<%= form.input :book_author, placeholder: 'Author' %>
	<%= form.input :notes, placeholder: 'Notes' %>
	<%= form.association :shelves, as: :check_boxes, :collection => @shelves, label_method: :shelf_name, value_method: :id %>
	<%= form.button :submit %> 
<% end %><br>
<button><%= link_to "Go Back", root_path %></button>


