<h2><%= @book.book_name %></h2>
<h5>Author</h5>
<p><%= @book.book_author %></p>
<h5>Notes</h5>
<p><%= @book.notes %></p>
<h5>Shelves</h5>
<p><% @book.shelves.each do |shelf| %>
	<%= shelf.shelf_name %><br>
<% end %></p>
<button><%= link_to "Edit Book", edit_book_path %></button>
<button><%= link_to "Delete Book", @book, method: :delete %></button>
<button><%= link_to "Go Back", :back %></button>